* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#app {
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    background-color: #ffd700;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 25px;
}

header nav {
    margin-left: 20px;
}

header nav a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    padding: 5px 20px;
    border-top: 2px solid transparent;
}

header nav a:hover,
header nav a:active {
    border-top-color: var(--main-color);
}

#title {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#subtitle {
    font-size: 15px;
    margin-bottom: 40px;
    font-weight: normal;
    margin-top: 0;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
}

.search-form-icon {
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.search-form-icon i {
    color: #000000;
    font-size: 20px;
}

.search-form input {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    flex-grow: 1;
}

.search-form input::placeholder {
    color: #000000;
    opacity: 1;
    text-align: center;
}

.search-form input:focus::placeholder {
    color: transparent;
}

.search-button {
    background-color: var(--main-color);
    height: 50px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    border: none;
}

.search-button .search-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.search-button .search-icon {
    display: none;
}

.filters {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

.filters h2 {
    font-size: 18px;
    margin: 0 20px 0 0;
    white-space: nowrap;
}

.filter-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.filter-button:hover {
    background-color: #deebff;
}

.filter-button i {
    margin-right: 10px;
    color: var(--main-color);
}

.filter-button.active {
    background-color: var(--filter-bg-color);
    border-color: var(--main-color);
}

.info {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    gap: 10px;
}

.info i {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

